<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus 
			#newTodo 
			(keyup.enter)="createTodo(newTodo.value); newTodo.value='';"
			(blur)="createTodo(newTodo.value); newTodo.value='';">
	</header>
	<section class="main" *ngIf="overallTodosCount">
		<input class="toggle-all" type="checkbox" 
			#toggleAll
			[ngModel]="toggleAll_controlState"
			(ngModelChange)="toggleAllTodosCompletedState(toggleAll.checked)">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<li *ngFor="let todo of todos" [ngClass]="{completed: todo.completed, editing: todo.editing}">
				<div class="view">
					<input type="checkbox" class="toggle" 
						[ngModel]="todo.completed" 
						(ngModelChange)="todo.completed = $event; onTodoStateToggle()">
					<label (dblclick)="startTodoEditing(todo)">{{ todo.title }}</label>
					<button class="destroy" (click)="deleteTodo(todo.id)"></button>
				</div>
				<input class="edit input-{{ todo.id }}" value="{{ todo.title }}"
					(keyup.enter)="saveEditingChanges(todo)" 
					(blur)="saveEditingChanges(todo)"
					(keyup.escape)="discardEditingChanges(todo)">
			</li>
		</ul>
	</section>
	<footer class="footer" *ngIf="overallTodosCount">
		<span class="todo-count">
			{{ todosLeft_countText }}
		</span>
		<ul class="filters">
			<li>
				<a routerLink="/" routerLinkActive="selected" 
					[routerLinkActiveOptions]="{ exact: true }">
					All
				</a>
			</li>
			<li>
				<a routerLink="/active" routerLinkActive="selected">Active</a>
			</li>
			<li>
				<a routerLink="/completed" routerLinkActive="selected">Completed</a>
			</li>
		</ul>
		<button class="clear-completed" 
			*ngIf="completedTodosCount" 
			(click)="deleteCompletedTodos()">
			Clear completed
		</button>
	</footer>
</section>