<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus 
			#newTodo 
			(keyup.enter)="createTodo(newTodo.value); newTodo.value='';"
			(blur)="createTodo(newTodo.value); newTodo.value='';">
	</header>
	<section class="main" *ngIf="overallTodosCount">
		<input class="toggle-all" type="checkbox" 
			#toggleAll
			[ngModel]="toggleAll_controlState"
			(ngModelChange)="toggleAllTodosCompletedState(toggleAll.checked)">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<my-todos-item *ngFor="let todo of todos" [todo]="todo" 
				(itemStateChange)="refreshTodos()"
				(deleteItem)="refreshTodos()">
			</my-todos-item>
		</ul>		
	</section>	
	
	<my-todos-footer *ngIf="overallTodosCount" (destroyCompletedTodos)="refreshTodos()"></my-todos-footer>
</section>